In [3]:
from urllib.parse import urlencode
from urllib.request import urlopen
from datetime import datetime
import pandas as pd

from utils.LabelsDict import tickers
from utils.load_data import load_stock_data

In [4]:

        шлдлд

NameError: name 'шлдлд' is not defined

In [5]:
load_stock_data(tickers_list=["SBER", "GAZP"], start_date="01.01.2017", end_date="31.12.2017", step=8)

    <TICKER> <PER>    <DATE>  <TIME>  <OPEN>  <HIGH>   <LOW> <CLOSE>     <VOL>
0       SBER     D  20170103  000000  173.41  181.68     173  180.12  53842180
1       SBER     D  20170104  000000  178.91  179.41  174.23  175.95  41327620
2       SBER     D  20170105  000000  176.32  177.28  171.54   171.9  35076900
3       SBER     D  20170106  000000  172.41  173.75   169.5  170.69  35395940
4       SBER     D  20170109  000000  171.37  172.39  168.05  168.35  35166440
..       ...   ...       ...     ...     ...     ...     ...     ...       ...
247     GAZP     D  20171225  000000  132.72  133.19   131.8  131.96   5658690
248     GAZP     D  20171226  000000  132.23  132.44  129.62   131.2  12765160
249     GAZP     D  20171227  000000  131.29  132.23  130.45  130.99  15957460
250     GAZP     D  20171228  000000  130.88   131.2  129.81  130.53  16271890
251     GAZP     D  20171229  000000  130.42  130.93  128.86   130.5  16285270

[504 rows x 9 columns]